:root {
    --varcor01: #000000;
    --varcor02: #fed8df;
    --varcor03: #5b0d1a;
}

* {
    text-align: center;
    margin:0;
    padding:0;
}

html, body  {
    height: 100vh;
    width: 100vw;
    background-color: red;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center / cover;
    background-attachment: fixed;
}
main {
    height: 100vh;
    position: relative;
}

#telefone {
    background-color: yellowgreen;
    position: absolute;
    left: 50%;
    top:50%;
    width: 311px;
    height: 627px;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat center / cover;
}

iframe {
    position: relative;
    top:80px;
    left: 0px;
    width: 269px;
    height: 471px;
}

#redes-sociais img {
    width: 50px;
    margin:10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}


#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, .6);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    transform: transform .5s,  border .1s;
}

#redes-sociais {
    text-align: right;
}